infra/docker/local_files/workflows/Hy6ZHYTLaBtsGnLD.json
{"createdAt":"2025-08-14T09:17:58.094Z","updatedAt":"2025-08-14T09:46:51.915Z","id":"Hy6ZHYTLaBtsGnLD","name":"My workflow 2","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"cd1b9684-70b0-41d7-8f6b-e9ee9a697509","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT id, \"workflowId\", \"status\", \"startedAt\", \"stoppedAt\"\nFROM execution_entity\nWHERE \"startedAt\" > NOW() - interval '1 HOUR'\nORDER BY \"startedAt\" DESC;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"bb58e6fa-1fa6-47f5-8bc3-68b3d4690b30","name":"Execute a SQL query","credentials":{"postgres":{"id":"iWNdtqpkDnAom6Ln","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,176],"id":"ff81efa2-4904-40f0-98f9-dbf908b56d8b","name":"Error Trigger"},{"parameters":{"sendTo":"tbaohoang94@gmail.com","subject":"=Error Worklow  {{ $json.workflow.name }}","emailType":"text","message":"=Hallo Bao, \n\nfolgende Fehler ist aufgetaucht. Bitte um Prüfung: \n\n{{ JSON.stringify($json, null, 2) }}\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[208,176],"id":"03c2f254-66ca-44fd-a110-4c409f886a48","name":"Send a message","webhookId":"8cbc5df5-b248-4b5d-a8e5-44193c21d20b","credentials":{"gmailOAuth2":{"id":"d9pV1XNrcvcRfRNs","name":"Gmail account"}}},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appyoAeTlvKGgsFfo","mode":"list","cachedResultName":"Marketing Campaign Management","cachedResultUrl":"https://airtable.com/appyoAeTlvKGgsFfo"},"table":{"__rl":true,"value":"tblfr9D0xxFVLgFFQ","mode":"list","cachedResultName":"Test","cachedResultUrl":"https://airtable.com/appyoAeTlvKGgsFfo/tblfr9D0xxFVLgFFQ"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","status":"={{ $json.status }}","startedAt":"={{ $json.startedAt }}","stoppedAt":"={{ $json.stoppedAt }}","workflowID":"={{ $json.workflowId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"startedAt","displayName":"startedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"stoppedAt","displayName":"stoppedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"workflowID","displayName":"workflowID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[416,0],"id":"59edc6bb-f463-4261-abee-e1d0a1bafcb6","name":"Create or update a record","credentials":{"airtableTokenApi":{"id":"thYQCgVed1E4HBjB","name":"Airtable Personal Access Token account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Create or update a record","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"206c1b62-3397-40ff-afcf-bad78d15e87a","triggerCount":1,"tags":[]}